.App_body {
  display: flex;
  margin-right: 20px;
  margin-left: 20px;
  max-width: 1200px;
  padding: 0%;
  margin: 0%;
}
.App {
  background-color: whitesmoke;
  flex-direction: column;
  align-items: center;
  margin: 0%;
}
