.login {
    display: grid;
    place-items: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 335px;
    background-image: url("https://www.supercook.com/statics/images/onboarding-bg.svg");
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
 
  .login > img {
    object-fit: contain;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .login_register {
    color: green;
    cursor: pointer;
  }
  .forgot {
    color: green;
    cursor: pointer;
    text-align: center;
  }
  .login > form {
    display: flex;
    flex-direction: column;
  }
  .login > form > input {
    width: 350px;
    height: 50px;
    font-size: 20px;
    padding-left: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  .login > form > button {
    width: 365px;
    height: 50px;
    font-size: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: lightgreen;
  }
  .login > p {
    margin-top: 10px;
  }
  .button2 {
    width: 365px;
    height: 50px;
    font-size: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: lightgreen;
  }
  